<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" >
    <title>Livro de Visitas</title>
</head>
<body>
    <header>
        <h2>Livro de Visitas</h2>
    </header>

    <div class="content">
        <div id="form" class="centralized card">
            <h3>Registre sua visita</h3>
            <form method="post" th:object="${visit}" th:action="@{/visit/save}">
                <label for="name" class="form-label">Nome</label>
                <input class="form-input" type="text" id="name" th:field="*{name}" />
                <span class="error" th:errors="*{name}">Erro</span><br>


                <label for="message" class="form-label">Mensagem</label>
                <textarea class="form-input" maxlength="500" rows="1" id="message" th:field="*{message}"></textarea><br>

                <input class="btn-submit" type="submit" value="Enviar">
            </form>
        </div>
    </div>

    <div id="visits" class="centralized card">
        <h3>Visitas recentes</h3>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Mensagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="visit : ${visits}">
                    <td th:text="${#temporals.format(visit.date, 'dd/MM/yyyy')}">dd/MM/yyyy</td>
                    <td th:text="${visit.name}">Nome</td>
                    <td th:text="${visit.message == null ? '' : visit.message}">Mensagem</td>
                    <td><a th:href="@{/visit/} + ${visit.id} + '/delete'">Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>