header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #009688;
    box-shadow: 0px 1px 3px gray;
    width: 100%;
    text-align: center;
}

h2 {
    color: #fafafa;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

h3 {
    color: #009688
}

.content {
    margin-top: 5rem;
}

.centralized {
    margin-left: 30%;
    width: 40%;
}

.card {
    padding: 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px gray;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: 2px 2px 6px gray;
}

.form-label {
    display: block;
}

.form-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #009688;
    resize: none;
    transition: border-bottom 0.5s ease-in-out;
}

.form-input:focus {
    outline: none;
    border-bottom: 2px solid #00675b;
}

.btn-submit {
    width: 80%;
    margin-left: 10%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #00675b;
    color: #fafafa;
    font-weight: bold;
    font-size: 1rem;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: 
}
